body{
    height: 3000px;
    width: 100%;
    display: flex;
}

#map_img{
    background-image: url("../images/hades_map.jpg");

    display: block;
    justify-content: center;

    height: 100%;
    width: 80%;
}