/* SIDE BAR */

#sidebar{
    max-width: 320px;   /*Change this to change width of the sidebar*/

    position: sticky;
    top: 20px;  
    padding: 10px;

    left: 80%;
    border: solid 2px;
    background-color: rgba(30, 30, 30, 0.8);
}

#sidebar section{
    padding: 10px;
}

.reco_box{
    padding: 10px;
    margin-bottom: 24px;    /*Doesn't work lmao dunno why*/
    
    display: block;
    max-width: 100%;

    text-decoration: none;

    background: linear-gradient(90deg, rgb(75, 75, 75), rgb(72, 71, 71));
    border-radius: 10px;    
}

.reco_box:hover p{
    text-decoration-line: underline;
}

.reco_box div{
    width: 100%;
    height: 150px;
    background-size: cover;
    border-radius: 10px;
}

.reco_box:nth-child(1) div{
    background-image: url("../images/hollow_knight.png");
}

.reco_box:nth-child(2) div{
    background-image: url("../images/outer_wilds.jpg");
}

.reco_box:nth-child(3) div{
    background-image: url("../images/7_days_to_end_with_you.jpg");
}

.reco_box:hover{
    text-decoration: none;
}

.reco_box p{
    text-decoration: none;
    color: white;
}